	.mobile_menu {
		display: none !important;
	}

@media only screen and (max-width: 1024px) {
	.row-contact [class*='col-']:first-child {
		width: 70%;
		float:left;
	}
	.row-contact [class*='col-']:last-child {
		width: 30%;
		float:left;
	}
	
	.home-tabs .col-md-3 {
		width:40%;
		max-width: 40%;
		flex: 0 0 40%;
	}
	
	.home-tabs .col-md-9 {
		width:60%;
		max-width: 60%;
		flex: 0 0 60%;
	}
	
	h1 {
    	font-size: 1.6em;
	}
	
	.h4, h4 {
    	font-size: 1.2rem;
	}
	
	.meer-informatie .container .row [class*="col-md-"] {
	    display: flex;
	    min-height: 56px;
	    align-items: center;
	}
	
	.meer-informatie h1 {
	    font-size: 28px;
	}
	
	.content_page h1 {
	    font-family: 'Titillium Web', sans-serif;
	    font-weight: 600;
	    font-size: 1em;
	    color: #FAB52A;
	    letter-spacing: 0px;
	}
		
	ul.sub-menu {
	position: absolute;
	background: white;
	padding:5px 15px !important;
	margin-top:6px;	
	display: none;
	border-radius: 0px 0px 3px 3px;
	transition-duration: 0.3s;
	margin-left:-15px;
}

.m-menu-col .menu-hoofdmenu-container ul li a {
	font-size: 18px;
	color:#535353;
	font-weight: 600;
}
	
	#gallery-1 .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    height: 80px;
}
	
.project {
    width: 100% !important;
    border: 1px solid #f6f6f6;
    border-radius: 2px;
    margin-left: inherit !important;
    margin-right: 15px !important;
    margin-bottom: 15px;
    box-sizing: border-box;
    list-style: none;
    float: left;
    padding: 15px;
}

.projecten {
    padding: 0px 15px !important;
}

	.carousel-control-prev, .carousel-control-next {
		display: none !important;
	}
	
	.menu-item-has-children:after {
    	display: none;
	}
	
	ul.sub-menu {
		position: inherit !important;
	}
	
	.menu-item-has-children {
		position: relative;
	}
	
	.open-menu-link {
		position: absolute;
		right: 0px;
		top: 0px;
	}
	
	.copyright ul li a {
		font-size: 12px;
	}
	
	.carousel h1 {
		font-size:34px;
	}
	
	.carousel p {
		font-size: 18px;
	}
	
	.mobile_menu {
		display: flex !important;
	}
	.hoofd_menu {
		display: none !important;
	}
	.informatie-bar-image {
		display: none;
	}
	.nav-tabs {
	    margin-bottom: 40px;
	}
	.meer-informatie {
    	padding: 32px 0px;
	}
	.m-i-buttons ul li {
    	margin: 10px 0px;
	}
	.meer-informatie h1 {
    	font-size: 34px;
	}
	footer .col-md-3 {
		margin-bottom:22px;
	}
	.copyright ul {
		float:none;
	    padding: 0px;
	    margin: 5px 0px;
	}
	.copyright ul li {
	    float: left;
	    padding: 0px 10px 0px 0px;
	}
	
	footer .col-md-3 {
		max-width: 50% !important;
		width: 50% !important;
		flex: 0 0 50% !important;
		padding-bottom:34px;
	}
}

@media only screen and (max-width: 812px) { 
	.home-tabs .col-md-3 {
		width:100%;
		max-width: 100%;
		flex: 0 0 100%;
	}
	
	.home-tabs .col-md-9 {
		width:100%;
		max-width: 100%;
		flex: 0 0 100%;
	}
	
	footer .col-md-3 {
		max-width: 100% !important;
		width: 100% !important;
		flex: 0 0 100% !important;
	}
	
}